# =========================
# Python & Streamlit 프로젝트용
# =========================

# 파이썬 캐시 파일
__pycache__/
*.py[cod]
*$py.class

# 가상환경
venv/
env/
.venv/

# 환경변수 및 보안 파일
.env
.streamlit/secrets.toml

# OS 관련 파일 (Windows 등)
Thumbs.db
desktop.ini
.DS_Store
